*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 29, 33);
    color: white;
}
#heading{
    text-align: center;
    width: 55%;
    padding: 18px 0;
    background-color: salmon;
    border-bottom-right-radius: 20px;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
#container-1 div,#container-2 div{
    padding: 25px 15px;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
input,#countryTextBox{
    color: white;
    background-color: rgb(33, 29, 33);
    border: 1px solid salmon;
    outline: none;
    height: 2.7rem;
    width: 20rem;
    border-radius: 5px;
}
#descriptionTextBox
{
    color: white;
    background-color: rgb(33, 29, 33);
    border: 1px solid salmon;
    outline: none;
    border-radius: 5px;
    height: 7rem;
    width: 25rem;
}
#submitButton{
    color: white;
    background-color: salmon;
    margin:3rem 7rem;
    padding: 10px 60px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 1px rgb(250, 128, 114);
    
}
