*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
#3dImage{
   width:auto;
}
#backgroundImage{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}
#container{
    position: absolute;
    bottom: 30px;
    left: 350px;
background-color: white;
width: 25%;
z-index: 100;
text-align: center;
padding: 20px 10px;
border-radius: 5px;
}
#heading{
    margin-bottom: 20px;
}
#departure,#noOfTravellers,#email,#dropDown{
    width: 250px;
    margin-bottom: 10px;
}
#yesOrNo{
    margin: 10px 0;

}
#submit{
    background-color: blueviolet;
    border-radius: 10px;
    border:none;
    margin:10px 0;
    padding: 13px;
    font-size: 12px;
}



